@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  -webkit-tap-highlight-color: transparent !important;
}

.externalLink {
  @apply underline text-blue-400;
}

.projectLink {
  @apply flex items-center justify-center gap-2 bg-blue-500 rounded text-sm text-white px-4 py-2 hover:cursor-pointer;
}

.sectionTitle {
  @apply text-3xl font-medium font-serif;
}

.projectsBoxWrapper {
  @apply flex flex-wrap gap-1 w-full justify-center border-t-2 border-black p-2;
}

.socialLink {
  @apply p-2;
}

.formInput {
  @apply p-2 rounded font-mono font-medium focus:outline-none focus:border-b-2 focus:ring-0 bg-blue-50 border-b-[1px] border-black;
}

.inputLabel {
  @apply text-lg font-mono;
}

.navLink {
  @apply p-2 transition-all ease-in-out delay-75 hover:bg-slate-100 hover:shadow hover:rounded-full hover:opacity-100;
}
.navLinkSelected {
  @apply bg-slate-100 shadow rounded-full opacity-100 transform active:scale-90;
}

.ql-syntax {
  @apply bg-amber-50 rounded-lg p-3;
}

h2 {
  @apply font-bold text-2xl;
}

td {
  @apply m-auto;
}

tr {
  @apply grid grid-cols-5;
}
